#root {
    background-color: #0f1263;
    color: #F1FAEE;
    padding: 10px;
    font-size: 18px;
    margin: 0px;
    font-family:  Helvetica, sans-serif;
    max-height: max-content;
}

nav {
    margin-bottom: 20px;
}

#root table {
    max-width: 1000px;
    color: #F1FAEE;
    font-size: 18px;
}

#root table td {
    margin: 0px;
    padding: 5px;
    border: 2px solid white;
}
#root table tr {
    margin: 0px;
}

.overflow_container {
    height: 300px;
    overflow: auto;
    border: 1px dashed white;
}

#controlButtons {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    margin-left: 100px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#root .row {
    margin-bottom: 30px;
}

.column {
    display: flex;
    flex-direction: column;
}

.button {
    font-size: 24px;
    background-color: lightgreen;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.link {
    font-size: 24px;
    color: orange;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .row {
        flex-direction: column;
    }
    #controlButtons {
        margin-left: 0px;
    }
} 

