
#root {
    height: max-content;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.overflow_container {
    width: 75%;
    height: 70vh;
}

a.button {
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
}