#root {
    background-color: #333539;
    color: #e34141;
    padding: 10px;
    font-size: 24px;
    margin: 0px;
    font-family:  Helvetica, sans-serif;
    height: 100%;
}

#root #productsTable {
    width: 50%;
    color: #e34141;
    font-size: 24px;
}

#controlButtons {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;

}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

button {
    font-size: 24px;
    background-color: lightgreen;
    border-radius: 10px;
    padding: 5px;
}